name: Strategia Pipeline

on:
  push:
  pull_request:

jobs:
  server:
    name: Server
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v3
      - uses: DeterminateSystems/nix-installer-action@v9
      - uses: DeterminateSystems/magic-nix-cache-action@v6
      - name: Lint server
        working-directory: server
        run: nix develop .. --command golangci-lint run

  client:
    name: Client
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v3
      - uses: DeterminateSystems/nix-installer-action@v9
      - uses: DeterminateSystems/magic-nix-cache-action@v6
      - name: Install Bun dependencies
        working-directory: client
        run: nix develop .. --command bun install
      - name: Type check
        working-directory: client
        run: nix develop .. --command bun type-check:quiet
      - name: Lint
        working-directory: client
        run: nix develop .. --command bun lint:check
